.form-subscription{
    position: relative;
    padding-left: 60px;  
}
.form-subscription-icon{
    position: absolute;
    top:20px;
    left: 20px;
}
.form-input{
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: transparent;
    border: none;
    outline: none;
    
}